{% extends 'pms/base.html' %}

{% block content %}
	<br>
	<center>
	<h1>Create a New Project..</h1>
	<br><br>
	<div class="card" style="width:500px;">
	<form method = 'POST' class = "form-group" action = "/createproject/">
	{% csrf_token %}
		<input type="text" name="name" class="form-control" placeholder="Project Name" maxlength="255" required id="name" style="margin-bottom:5px;">
		<input type="text" name="description" class="form-control" placeholder="A Short Description about the project." maxlength="255" required id="description" style="margin-bottom:5px;">
		<button type = "submit" class="btn btn-success" style="margin-bottom:5px;">Create</button>
	</form>
	</div>
	</center>


{% endblock %}