{% extends 'pms/base.html' %}




{% block content %}
<title>Register</title>
	
	<style>
			.errorlist{
				color:red;
			}
	</style>
	<body>
	<center>
	<h1>Register Now on <a href="{% url 'index' %}" class="text text-success"> PMS </a></h1>
	<hr>
	<div class="card" style="width:500px;">
	<form method = 'POST' class = "form-group">
	 {% csrf_token %}
		<input type="text" name="username" class="form-control" placeholder="Username"  maxlength="255" autofocus required id="id_username" style="margin-bottom:5px;">
		<input type="text" name="firstname" class="form-control" placeholder="First Name" maxlength="255" required id="id_firstname" style="margin-bottom:5px;">
		<input type="text" name="lastname" class="form-control" placeholder="Last Name" maxlength="255" required id="id_lastname" style="margin-bottom:5px;">
		<input type="email" name="email" class="form-control" placeholder="Email" maxlength="255" required id="id_email" style="margin-bottom:5px;">
		<input type="text" name="company" class="form-control" placeholder="Company Name" required id="id_company" style="margin-bottom:5px;">
		<input type="password" name="password1" class="form-control" placeholder="Password" autocomplete="new-password" required id="id_password1" style="margin-bottom:5px;"> 
		<input type="password" name="password2" class="form-control" placeholder="Password Confirmation" autocomplete="new-password" required id="id_password2" style="margin-bottom:5px;">
	    <button class="btn btn-warning" style="margin-bottom:5px; margin-top:5px;" id="register-button">Register</button>
		
		{{ form.errors }}
		
	</form>
	Already Have an PMS account? <a href="{% url 'login'%}" style="margin-bottom:5px;">Login now</a>
	</div>
	</center>
	</body>
{% endblock %}